<div class="container">
<%= form_for @article do |f| %>
	<br>
	タイトル
	<%= f.text_field :title, class: "article, article-title" %>
	<br>
	内容
	<%= f.text_area :content, class: "article, article-content" %>
	<br>
	場所
	<%= f.text_area :area, class: "article, article-area" %>
	<br>
	画像
	<%= f.file_field :img, class: "article" %>


	<br>
	DOYA
	<%= f.collection_select :doya, Star.all, :id, :id %>

	<br>
	<%= f.label :user_id %><br>
	ユーザーID
	<%= f.collection_select :user_id, User.all, :id, :id %>

	

	<br>
	<%= f.submit "投稿する", class: "article, article-submit" %>


</div>

<% end %>

