<h1 class="top">Article一覧</h1>

<div class="container">
 	<div class="col-md-1 col-xs-0"></div>
  	<div class="col-md-10 col-xs-12">

		<div class="clearfix">

			<div class="row">
			<% @articles.each do |article| %>
				
				<div class="col-md-4">

					<!-- <p>タイトル</p> -->
					<h2 class="article-title"><%= link_to article.title, article_path(article.id) %></h2>
										

					<!-- どや -->
					<div class="article-doya">
						<h3><%= article.doya %>どや</h3>
							<% if article.doya == 1 %>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>☆</p></div>
								<div class="star" ><p>☆</p></div>
								<div class="star" ><p>☆</p></div>
								<div class="star" ><p>☆</p></div>
							<% elsif article.doya == 2 %>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>☆</p></div>
								<div class="star" ><p>☆</p></div>
								<div class="star" ><p>☆</p></div>
							<% elsif article.doya == 3 %>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>☆</p></div>
								<div class="star" ><p>☆</p></div>
							<% elsif article.doya == 4 %>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>☆</p></div>
							<% elsif article.doya == 5 %>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>★</p></div>
								<div class="star" ><p>★</p></div>
							<% else article.doya %>
								<p>NOどや</p>
							<% end %>
					</div>
					

					<!-- <p>画像</p> -->
					<h3 class="article-image"><%= image_tag article.img %></h3>
									
					<!-- 趣味タグ -->
					<h3 class="article-hobby">＃<%= article.hobby %></h3>


					<!-- いいねボタン -->
					<div class="article-like">
						<tr>
					       <td>
					              <%= link_to "いいね", article_likes_path(article), method: :post %>
					              <div class="like-image">
					                <%= image_tag '/heart1.png' %>
					                <%= link_to article.likes.count, article_path(article.id), id: 'like-counnat' %> 人がいいね！
					              </div>
					        </td>
					    </tr>
					</div>


					<!-- フォローボタン -->
					<% if article.user.followed_by? current_user %>
		              <%= link_to "フォロー解除", user_relationship_path(article.user), method: :delete, class: 'glyphicon glyphicon-thumbs-up' %>
		            <% else %>
		              <%= link_to "フォロー", user_relationship_path(article.user), method: :post, class: 'glyphicon glyphicon-thumbs-down' %>
		            <% end %>
		            
				</div>

			<% end %>
			</div>

			

		</div>

		<p><%= paginate @articles %></p>
	</div>

	<div class="col-md-1 col-xs-0"></div>

</div>









