<h1 class="top">Stpos!</h1>

<div class="container">
 	<div class="col-md-1 col-xs-0"></div>
  	<div class="col-md-10 col-xs-12">

		<div class="clearfix">

			<div class="row">
			<% @articles.each do |article| %>

				<div class="article-content col-md-4">

					<!-- <p>タイトル</p> -->
					<h2 class="article-title"><%= link_to article.title, article_path(article.id) %></h2>


					<!-- どや -->
					<div class="doya-all">
							<% if article.doya == 1 %>
								<div class="star" >★</div>
								<div class="star" >☆</div>
								<div class="star" >☆</div>
								<div class="star" >☆</div>
								<div class="star" >☆</div>
							<% elsif article.doya == 2 %>
								<div class="star" >★</div>
								<div class="star" >★</div>
								<div class="star" >☆</div>
								<div class="star" >☆</div>
								<div class="star" >☆</div>
							<% elsif article.doya == 3 %>
								<div class="star" >★</div>
								<div class="star" >★</div>
								<div class="star" >★</div>
								<div class="star" >☆</div>
								<div class="star" >☆</div>
							<% elsif article.doya == 4 %>
								<div class="star" >★</div>
								<div class="star" >★</div>
								<div class="star" >★</div>
								<div class="star" >★</div>
								<div class="star" >☆</div>
							<% elsif article.doya == 5 %>
								<div class="star" >★</div>
								<div class="star" >★</div>
								<div class="star" >★</div>
								<div class="star" >★</div>
								<div class="star" >★</div>
							<% else article.doya %>
								<div class="star">NOどや</div>
							<% end %>
					</div>


					<!-- <p>画像</p> -->
					<h3 class="article-image"><%= image_tag article.img %></h3>

					<!-- 趣味タグ -->
					<h3 class="article-hobby">＃<%= article.hobby %></h3>

					<!-- <h5 class="article-hobby"><%= article.user.name %></h5> -->


					<!-- いいねボタン -->
					<div class="article-like">
						<tr>
					       <td>
					              <div class="like-image">
					              	<%= link_to "いいね", article_likes_path(article), method: :post %>
					                <%= image_tag '/heart1.png' %>
					                <%= link_to article.likes.count, article_path(article.id), id: 'like-counnat' %> 人がいいね！
					              </div>
					        </td>
					    </tr>
					</div>

				<!-- フォローボタン -->
					<% if article.user.followed_by? current_user %>
		              <%= link_to "フォロー中", user_relationship_path(article.user), method: :delete, class: "glyphicon glyphicon-user" %>
		            <% else %>
		              <%= link_to "フォローする", user_relationship_path(article.user), method: :post, class: "glyphicon glyphicon-thumbs-up" %>
		            <% end %>
		            <%= social_share_button_tag(article.title) %>
				</div>
			<% end %>
			</div>
		</div>

		<p><%= paginate @articles %></p>
	</div>

	<div class="col-md-1 col-xs-0"></div>

</div>









