<h1>新しく投稿しよう！！</h1>


<%= form_for @article do |f| %>
	タイトル
	<%= f.text_field :title, class: "" %>
	内容
	<%= f.text_area :content, class: "" %>
	場所
	<%= f.text_area :area, class: "" %>

	<%= f.submit "投稿する", class: "" %>
<% end %>




<h3><%= link_to "TOP", root_path %></h3>
