<h1>旅の記録</h1>

<% if current_user.id == @article.user_id %>
	<%= link_to "編集", edit_article_path(@article.id) %>
	<%= link_to "削除", destroy_article_path(@article.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

<p id="notice" class="alert alert-success">
  <%= notice %>
</p>

<div class="article-container">
	<h3>タイトル</h3>
	<p class="article-title"><%= @article.title %></p>
	<br>

	<h3>内容</h3>
	<div class="article-content"><%= @article.content %></div>
	<br>

	<h3>場所</h3>
	<p class="article-area"><%= @article.area %></p>
	<br>

	<div class="doya clearfix">
	<h3>どや度</h3>
	<p class="article-doya"><%= @article.doya %>どや</p>
			<% if @article.doya == 1 %>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>☆</p></div>
				<div class="star" ><p>☆</p></div>
				<div class="star" ><p>☆</p></div>
				<div class="star" ><p>☆</p></div>
			<% elsif @article.doya == 2 %>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>☆</p></div>
				<div class="star" ><p>☆</p></div>
				<div class="star" ><p>☆</p></div>
			<% elsif @article.doya == 3 %>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>☆</p></div>
				<div class="star" ><p>☆</p></div>
			<% elsif @article.doya == 4 %>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>☆</p></div>
			<% elsif @article.doya == 5 %>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>★</p></div>
				<div class="star" ><p>★</p></div>
			<% else @article.doya %>
				<p>NOドヤ</p>
			<% end %>
	</div>
	<br>

	<h2>Photo</h2>
	<div class="article-image"><%= image_tag@article.img %></div>
	<br>

	<tr>
       <td>
            <% if @article.liked_by? current_user %>
              <%= link_to "いいね解除", article_likes_path(@article), method: :delete %>
            <% else %>
              <%= link_to "いいね", article_likes_path(@article), method: :post %>
            <% end %>
        </td>
    </tr>
</div>

 
<%= link_to "一覧ページ", articles_path %>
