<h1>旅の記録</h1>

<% if current_user.id == @article.user_id %>
	<%= link_to "編集", edit_article_path(@article.id) %>
	<%= link_to "削除", destroy_article_path(@article.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

<p id="notice" class="alert alert-success">
  <%= notice %>
</p>

<div class="article-container">
	<h3>タイトル</h3>
	<p class="article-title"><%= @article.title %></p>
	<br>

	<h3>内容</h3>
	<div class="article-content"><%= @article.content %></div>
	<br>

	<h3>場所</h3>
	<p class="article-area"><%= @article.area %></p>
	<br>

	<h3>どや</h3>
	<p class="article-doya clearfix"><%= @article.doya %></p>
			<% if @article.doya == 1 %>
				<div class="star" ><%= image_tag ('star-image.jpg') %></div>
			<% elsif @article.doya == 2 %>
				<div class="star" ><%= image_tag ('star-image.jpg') %></div>
				<div class="star" ><%= image_tag ('star-image.jpg') %></div>
			<% elsif @article.doya == 3 %>
				<div class="star" ><%= image_tag ('star-image.jpg') %></div>
				<div class="star" ><%= image_tag ('star-image.jpg') %></div>
				<div class="star" ><%= image_tag ('star-image.jpg') %></div>
			<% else @article.doya %>
				<p>NOドヤ</p>
			<% end %>
	<br>


	<h2>Photo</h2>
	<div class="article-image"><%= image_tag@article.img %></div>
</div>

 
<%= link_to "一覧ページ", articles_path %>
