<h1 class="top">いいねした項目</h1>
<div class="container">
  <div class="col-md-1 col-xs-0"></div>
  <div class="col-md-10 col-xs-12">

    <ul>
        <p>
            <div class="text">いいねした項目<%= @user.likes.count %>件</div>
            <!-- <div class="num"><%= @user.likes.count %></div> -->
        </p>

          
          
    </ul>

    <% if @user.likes.empty? %>
        <div class="like-list">
          まだお気に入りされた投稿はありません。
        </div>
    <% end %>


    <% @user.likes.map { |f| f.article }.each do |article| %>

        <div class="col-md-4 like-article">

          <div class="posting">

            <div class="article-content">
                <%= article.content %>
            </div> 

            <div class="article-hobby">
              #<%= article.hobby %>
            </div>

            <div class="user-article-img">
              <%= image_tag article.img %>
            </div>

            <div class="like-image">
              <%= image_tag '/heart1.png' %>
              <%= link_to article.likes.count, article_path(article.id), id: 'like-count' %> 人がいいね！
            </div>

          </div>

        </div>


    <% end %>

  </div>

  <div class="col-md-1 col-xs-0"></div>
</div>