  <h1>ユーザー情報</h1>

<div class="row">
  <div class="col-md-3">
    <div class="page4">
      <h3 class="title">名前</h3>
      <p class="word"><%= @user.name %></p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="page4">
      <h3 class="title">出身地</h3>
      <p class="word"><%= @user.birthplace %></p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="page4">
      <h3 class="title">性別</h3>
      <p class="word"><%= @user.sex %></p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="page4">
      <h3 class="title">年齢</h3>
      <p class="word"><%= @user.age %></p>
    </div>
  </div>

</div>


<ul>
    <li>
      <%= link_to likes_user_path(@user) do %>
        <div class="text">投稿数</div>
        <div class="num"><%= @user.articles.count %></div>
      <% end %>
    </li>
    <li>
      <%= link_to likes_user_path(@user) do %>
        <div class="text">いいね一覧</div>
        <div class="num"><%= @user.likes.count %></div>
      <% end %>     
    </li>
</ul>

<div class="user-article-index">
<% @user.articles.each do |article| %>
    <h4 class="user">
        <span class="user-name">
          <%= link_to article.user.name, user_path(article.user) %>
        </span>
        <span class="user-id"><%= article.user.email %></span>
    </h4>

    <div class="article-title">
      <%= article.title %>
    </div>

    <div class= "article-content">
        <%= article.content %>
    </div> 
<% end %>
</div>


 <% if current_user.id == @user.id %>
  <%= link_to "編集", edit_user_path(current_user.id) %>
  <%= link_to "削除", user_path(current_user), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>


