<!DOCTYPE html>
<html>
  <head>
    <title>Travelon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">

        <%= link_to "Travelon", home_top_path, class: "navbar-brand" %>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="nav-content" class="collapse navbar-collapse">
            <!--リンクのリスト メニューリスト-->
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>

            <li>
              <%= link_to 'マイページ', user_path(current_user) %>
            </li>

            <li>
              <%= link_to 'ユーザー一覧', users_path %>
            </li>

            <li>
              <%= link_to "新規作成", new_article_path %>
            </li>

            <li>
              <%= link_to "記事一覧", articles_path %>
            </li>

            <li>
              <%= link_to "Travelonについて",home_about_path %>
            </li>

          <% else %>
                <li><%= link_to "新規登録", new_user_registration_path %></li> 
                <li><%= link_to "ログイン", new_user_session_path %></li> 
                <li><%= link_to "記事一覧", articles_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>

    <!-- <header class="jumbotron">
      <div class="container">
        <h1>地球にときめく</h1>
        <p>このサイトは旅好きの人々が隠れスポットを紹介しあい、<br>
        新しい出会いや新しい発見を生み出すサイトです。</p>
      </div>
    </header> -->

    
    <!-- <div class="container">
      
          <div class="col-md-1 col-xs-0 "></div>
          <div class="col-md-10 col-xs-12 "> -->
          <%= yield %>
          <!-- </div>
          <div class="col-md-1 col-xs-0 "></div>
      
    </div> -->

    <footer class="footer-container">
      <!-- <span class="label label-default">Default</span>
      <span class="label label-default">Default</span>
      <span class="label label-default">Default</span>
      <span class="label label-default">Default</span> -->
      <p>©︎websuku20 Travelon</p>
    </footer>
   
  </body>
</html>
